
@use 'sass:map';
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

@include mat.core();

@font-face {
  font-family: 'Playfair Display';
  src: url(./assets/fonts/PlayfairDisplay-Regular.ttf) format("truetype");
  font-weight:600;
}
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
$custom-typography: mat.define-typography-config(
  $font-family: "'Playfair Display'",
  $headline-1: mat.define-typography-level(
    $font-family: "'Playfair Display'",
    $font-weight: 600,
    $font-size: 4rem,
    $line-height: 1.5,
    $letter-spacing: normal,),
  $headline-2: mat.define-typography-level(
    $font-family: "'Playfair Display'",
    $font-weight: 600,
    $font-size: 3.6rem,
    $line-height: 1.5,
    $letter-spacing: normal,),
  $headline-3: mat.define-typography-level(
    $font-family: "'Playfair Display'",
    $font-weight: 600,
    $font-size: 3rem,
    $line-height: 1.5,
    $letter-spacing: normal,),
  $headline-4: mat.define-typography-level(
    $font-family: "'Playfair Display'",
    $font-weight: 600,
    $font-size: 2.4rem,
    $line-height: 1.5,
    $letter-spacing: normal,),
  $headline-5: mat.define-typography-level(
    $font-family: "'Playfair Display'",
    $font-weight: 600,
    $font-size: 1.8rem,
    $line-height: 1.5,
    $letter-spacing: normal,),
  $headline-6: mat.define-typography-level(
    $font-family: "'Playfair Display'",
    $font-weight: 600,
    $font-size: 1.6rem,
    $line-height: 1.5,
    $letter-spacing: normal,),
  $subtitle-1: mat.define-typography-level(
    $font-family: "'Playfair Display'",
    $font-weight: 600,
    $font-size: 1.6rem,
    $line-height: 1.5,
    $letter-spacing: normal,),
  $subtitle-2:  mat.define-typography-level(
    $font-family: "'Playfair Display'",
    $font-weight: 600,
    $font-size: 1.4rem,
    $line-height: 1.5,
    $letter-spacing: normal,),
  $body-1: mat.define-typography-level(
    $font-family: "'Playfair Display'",
    $font-weight: 600,
    $font-size: 1.4rem,
    $line-height: 1.5,
    $letter-spacing: normal,),
  $body-2: mat.define-typography-level(
    $font-family: "'Playfair Display'",
    $font-weight: 600,
    $font-size: 1.8rem,
    $line-height: 1.5,
    $letter-spacing: normal,),
  $caption: mat.define-typography-level(
    $font-family: "'Playfair Display'",
    $font-weight: 600,
    $font-size: 1.4rem,
    $line-height: 1.5,
    $letter-spacing: normal),
  $button: mat.define-typography-level(
    $font-family: "'Playfair Display'",
    $font-weight: 600,
    $font-size: 1.4rem,
    $line-height: 1.5,
    $letter-spacing: normal,),
  $overline: mat.define-typography-level(
    $font-family: "'Playfair Display'",
    $font-weight: 600,
    $font-size: 1.4rem,
    $line-height: 1.5,
    $letter-spacing: normal,),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$frontend-primary: mat.define-palette(mat.$blue-grey-palette);
$frontend-accent: mat.define-palette(mat.$blue-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$frontend-warn: mat.define-palette(mat.$orange-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$frontend-theme: mat.define-light-theme((
  color: (
    primary: $frontend-primary,
    accent: $frontend-accent,
    warn: $frontend-warn,
  ),
  typography: ($custom-typography),
));



// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($frontend-theme);
@include mat.all-component-typographies($custom-typography);
html, body { height: 100%; font-size: 62,5%;}
body { margin: 0; font-size: 1.6rem;}
